html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

.flex {
  display: flex; }

.order {
  background: #01a8ec;
  border-radius: 21px;
  box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3), inset 0 -5px 0 rgba(3, 128, 179, 0.78);
  font-size: 16px;
  font-weight: 400;
  padding: 14px 16px 16px 16px;
  color: #fff;
  font-family: "GothamProRegular"; }

h1 {
  font-size: 50px;
  font-family: "GothamProBold"; }

h2 {
  font-size: 36px; }

header nav {
  background: #1b5bbb;
  height: 50px; }
  header nav ul {
    height: 50px;
    justify-content: space-between; }
    header nav ul li {
      margin: auto 0; }
      header nav ul li a {
        color: #fff;
        font-family: "RobotoRegular";
        font-size: 16px; }
        header nav ul li a:active, header nav ul li a:hover, header nav ul li a:focus {
          color: #fff; }

header div.header {
  background: url("/assets/img/header-bg.png");
  height: 136px;
  background-position: 50% 100%; }
  header div.header div.wrapper {
    height: 136px; }
    header div.header div.wrapper div.logo {
      margin: auto auto auto 0; }
      header div.header div.wrapper div.logo p {
        font-family: "RobotoRegular";
        font-size: 16px;
        text-transform: uppercase;
        color: #01a8ec;
        margin: 0; }
    header div.header div.wrapper div.contact {
      margin: auto 0 auto 240px; }
      header div.header div.wrapper div.contact span {
        font-family: "RobotoRegular";
        color: #01a8ec;
        display: block; }
      header div.header div.wrapper div.contact span.phone {
        font-size: 30px;
        text-align: right; }
      header div.header div.wrapper div.contact span.email {
        font-size: 16px;
        text-align: right; }
    header div.header div.wrapper div.block-order {
      margin: auto 0 auto auto; }

section.slider {
  background: url("/assets/img/slider-bg.png") no-repeat;
  height: 600px;
  margin-top: -45px;
  background-position: 46% 0%;
  position: relative; }
  section.slider h2 {
    color: #1b5bbb;
    padding-top: 100px;
    padding-left: 90px; }
    section.slider h2 img {
      position: relative;
      top: 7px; }
  section.slider ul {
    list-style-image: url("/assets/img/circle.png");
    position: relative;
    padding-left: 90px;
    left: 22px;
    top: 20px; }
    section.slider ul li {
      color: #1b5bbb;
      font-family: "RobotoRegular";
      font-size: 18px;
      padding-left: 5px;
      padding-top: 5px;
      position: relative; }

section.consultation {
  background: #fff;
  width: 700px;
  height: 190px;
  margin: auto;
  margin-top: -204px;
  border-radius: 2px;
  position: relative; }
  section.consultation div.wrapper {
    width: 700px;
    height: 190px; }
    section.consultation div.wrapper form {
      flex-direction: column;
      margin: auto; }
      section.consultation div.wrapper form h2, section.consultation div.wrapper form p {
        text-align: center;
        font-family: "GothamProBold"; }
      section.consultation div.wrapper form h2 {
        font-size: 28px; }
      section.consultation div.wrapper form p {
        font-size: 14px; }
      section.consultation div.wrapper form div.flex {
        width: 580px;
        margin: auto;
        padding: 20px 0; }
      section.consultation div.wrapper form input {
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #999;
        border-radius: 10px;
        margin: auto;
        width: 160px;
        padding: 10px; }
      section.consultation div.wrapper form input[type="submit"] {
        background: #01a8ec;
        border-radius: 21px;
        box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3), inset 0 -5px 0 rgba(3, 128, 179, 0.78);
        font-size: 16px;
        font-weight: 400;
        padding: 10px 16px 12px 16px;
        color: #fff;
        font-family: "GothamProRegular";
        width: 220px; }

section.counter {
  background: url("/assets/img/counter-bg.png") no-repeat;
  height: 450px;
  background-position: 50% 100%;
  margin-top: -78px; }
  section.counter div.wrapper {
    margin: auto; }
    section.counter div.wrapper div.block {
      margin: auto;
      flex-direction: column; }
      section.counter div.wrapper div.block div {
        height: 150px; }
        section.counter div.wrapper div.block div img {
          margin: auto; }
      section.counter div.wrapper div.block div.description {
        width: 65%;
        margin: auto;
        height: 100%; }
        section.counter div.wrapper div.block div.description p {
          font-family: "GothamProBold";
          font-size: 18px;
          text-align: center; }

section.introduction {
  padding-bottom: 70px; }
  section.introduction h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px; }
  section.introduction div.block {
    width: 319px;
    height: 198px;
    margin: 1px;
    color: #157fd9;
    text-align: center;
    padding-top: 20px;
    padding-left: 100px; }
    section.introduction div.block h2 {
      font-size: 24px;
      padding: 30px 0; }
    section.introduction div.block span {
      opacity: 0; }
  section.introduction div.i-1 {
    width: 640px;
    background: url("/assets/img/introduction-1.png") no-repeat; }
    section.introduction div.i-1 div.item {
      margin: 25px 94px 0px auto; }
  section.introduction div.i-2 {
    background: url("/assets/img/introduction-2.png") no-repeat; }
  section.introduction div.i-3 {
    background: url("/assets/img/introduction-3.png") no-repeat; }
  section.introduction div.i-4 {
    background: url("/assets/img/introduction-4.png") no-repeat; }
  section.introduction div.i-5 {
    background: url("/assets/img/introduction-5.png") no-repeat; }

section.guarantee {
  background: url("/assets/img/guarantee-bg.png") no-repeat;
  height: 420px;
  background-position: 50% 50%; }
  section.guarantee h1 {
    color: #fff;
    text-align: center;
    padding: 30px 0; }
  section.guarantee div.block {
    width: 33%; }
    section.guarantee div.block div.img {
      height: 150px; }
      section.guarantee div.block div.img img {
        margin: auto; }
    section.guarantee div.block p {
      color: #fff;
      font-size: 18px;
      font-family: "GothamProBold";
      line-height: 1.5; }

section.accompaniment {
  background: #e6e6e6;
  padding-top: 100px;
  padding-bottom: 30px; }
  section.accompaniment h1, section.accompaniment p {
    text-align: center;
    font-family: "GothamProBold"; }
  section.accompaniment p {
    font-size: 24px;
    padding-bottom: 20px; }
  section.accompaniment .row {
    flex-wrap: wrap;
    justify-content: space-around; }
    section.accompaniment .row .block {
      background: #fff;
      width: 220px;
      margin: 10px auto;
      padding: 10px 5px; }
      section.accompaniment .row .block .img {
        height: 100px; }
        section.accompaniment .row .block .img img {
          margin: auto; }
      section.accompaniment .row .block h3, section.accompaniment .row .block p {
        font-size: 16px;
        text-align: center; }
      section.accompaniment .row .block h3 {
        font-family: "GothamProBold";
        margin-bottom: 5px; }
      section.accompaniment .row .block p {
        font-family: "RobotoRegular";
        line-height: 1.2; }

section.rates {
  background: #e6e6e6; }
  section.rates h1 {
    text-align: center;
    padding: 70px 0;
    font-size: 36px; }
  section.rates .white-block {
    background: #fff;
    width: 960px;
    height: 270px;
    box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3);
    border-radius: 2px; }
    section.rates .white-block table {
      width: 940px;
      margin: auto; }
      section.rates .white-block table tr th {
        height: 45px;
        text-align: center;
        vertical-align: middle;
        font-family: "GothamProBold"; }
      section.rates .white-block table tr th.blue {
        color: #1b5bbb; }
      section.rates .white-block table tr th {
        border-bottom: 2px solid #ccccc2; }
      section.rates .white-block table tr th:nth-child(2n), section.rates .white-block table tr th:nth-child(3) {
        border-left: 2px solid #cccccc; }
      section.rates .white-block table tr:first-child {
        background: #fff; }
      section.rates .white-block table tr:nth-child(2n) {
        background: #ededed; }
      section.rates .white-block table tr:nth-child(3) {
        background: #f2f2f2; }
  section.rates .question {
    padding: 50px 0; }
    section.rates .question div {
      margin: auto; }
      section.rates .question div h3, section.rates .question div p {
        font-family: "GothamProBold"; }
    section.rates .question a.order {
      margin: auto; }

section.why-us {
  background: url("/assets/img/why-us-bg.png") no-repeat;
  height: 700px;
  background-position: 50% 0%; }
  section.why-us h1 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding: 30px; }
  section.why-us .row {
    flex-wrap: wrap; }
    section.why-us .row .block {
      width: 33%; }
      section.why-us .row .block .img {
        height: 100px; }
        section.why-us .row .block .img img {
          margin: auto 0; }
      section.why-us .row .block h4, section.why-us .row .block p {
        font-size: 16px;
        color: #fff; }
      section.why-us .row .block h4 {
        padding: 5px 0; }
