html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

.flex {
  display: flex; }

.order {
  background: #01a8ec;
  border-radius: 21px;
  box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3), inset 0 -5px 0 rgba(3, 128, 179, 0.78);
  font-size: 16px;
  font-weight: 400;
  padding: 14px 16px 16px 16px;
  color: #fff;
  font-family: "GothamProRegular"; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 36px; }

header nav {
  background: #1b5bbb;
  height: 50px; }
  header nav ul {
    height: 50px;
    justify-content: space-between; }
    header nav ul li {
      margin: auto 0; }
      header nav ul li a {
        color: #fff;
        font-family: "RobotoRegular";
        font-size: 16px; }
        header nav ul li a:active, header nav ul li a:hover, header nav ul li a:focus {
          color: #fff; }

header div.header {
  background: url("/assets/img/header-bg.png");
  height: 136px;
  background-position: 50% 100%; }
  header div.header div.wrapper {
    height: 136px; }
    header div.header div.wrapper div.logo {
      margin: auto auto auto 0; }
      header div.header div.wrapper div.logo p {
        font-family: "RobotoRegular";
        font-size: 16px;
        text-transform: uppercase;
        color: #01a8ec;
        margin: 0; }
    header div.header div.wrapper div.contact {
      margin: auto 0 auto 240px; }
      header div.header div.wrapper div.contact span {
        font-family: "RobotoRegular";
        color: #01a8ec;
        display: block; }
      header div.header div.wrapper div.contact span.phone {
        font-size: 30px;
        text-align: right; }
      header div.header div.wrapper div.contact span.email {
        font-size: 16px;
        text-align: right; }
    header div.header div.wrapper div.block-order {
      margin: auto 0 auto auto; }

section.slider {
  background: url("/assets/img/slider-bg.png") no-repeat;
  height: 600px;
  margin-top: -62px;
  background-position: 46% 0%;
  position: relative; }
  section.slider h2 {
    color: #1b5bbb;
    padding-top: 100px;
    padding-left: 90px; }
    section.slider h2 img {
      position: relative;
      bottom: 5px; }
  section.slider ul {
    list-style-image: url("/assets/img/circle.png");
    position: relative;
    padding-left: 90px;
    left: 22px; }
    section.slider ul li {
      color: #1b5bbb;
      font-family: "RobotoRegular";
      font-size: 18px; }

section.consultation {
  background: #fff;
  width: 700px;
  height: 190px;
  margin: auto;
  margin-top: -204px;
  border-radius: 2px;
  position: relative; }
  section.consultation form {
    flex-direction: column;
    width: 700px; }
    section.consultation form h2, section.consultation form p {
      text-align: center;
      font-family: "GothamProBold"; }
    section.consultation form h2 {
      font-size: 28px; }
    section.consultation form p {
      font-size: 14px; }
    section.consultation form div.flex {
      width: 580px;
      margin: auto; }
    section.consultation form input {
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid #999;
      border-radius: 10px;
      margin: auto;
      width: 160px;
      padding: 10px; }
    section.consultation form input[type="submit"] {
      background: #01a8ec;
      border-radius: 21px;
      box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3), inset 0 -5px 0 rgba(3, 128, 179, 0.78);
      font-size: 16px;
      font-weight: 400;
      padding: 10px 16px 12px 16px;
      color: #fff;
      font-family: "GothamProRegular";
      width: 220px; }

section.counter {
  background: url("/assets/img/counter.png") no-repeat;
  height: 450px;
  background-position: 50% 100%;
  margin-top: -78px; }
  section.counter .wrapper {
    margin: auto; }
