html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

.flex {
  display: flex; }

.order {
  background: #01a8ec;
  border-radius: 21px;
  box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3), inset 0 -5px 0 rgba(3, 128, 179, 0.78);
  font-size: 16px;
  font-weight: 400;
  padding: 14px 16px 16px 16px;
  color: #fff;
  font-family: "GothamProRegular"; }

h1 {
  font-size: 50px;
  font-family: "GothamProBold"; }

h2 {
  font-size: 36px; }

header nav {
  background: #1b5bbb;
  height: 50px; }
  header nav ul {
    height: 50px;
    justify-content: space-between; }
    header nav ul li {
      margin: auto 0; }
      header nav ul li a {
        color: #fff;
        font-family: "RobotoRegular";
        font-size: 16px; }
        header nav ul li a:active, header nav ul li a:hover, header nav ul li a:focus {
          color: #fff; }

header div.header {
  background: url("/assets/img/header-bg.png");
  height: 136px;
  background-position: 50% 100%; }
  header div.header div.wrapper {
    height: 136px; }
    header div.header div.wrapper div.logo {
      margin: auto auto auto 0; }
      header div.header div.wrapper div.logo p {
        font-family: "RobotoRegular";
        font-size: 16px;
        text-transform: uppercase;
        color: #01a8ec;
        margin: 0; }
    header div.header div.wrapper div.contact {
      margin: auto 0 auto 240px; }
      header div.header div.wrapper div.contact span {
        font-family: "RobotoRegular";
        color: #01a8ec;
        display: block; }
      header div.header div.wrapper div.contact span.phone {
        font-size: 30px;
        text-align: right; }
      header div.header div.wrapper div.contact span.email {
        font-size: 16px;
        text-align: right; }
    header div.header div.wrapper div.block-order {
      margin: auto 0 auto auto; }

section.slider {
  background: url("/assets/img/slider-bg.png") no-repeat;
  height: 600px;
  margin-top: -45px;
  background-position: 46% 0%;
  position: relative; }
  section.slider h2 {
    color: #1b5bbb;
    padding-top: 100px;
    padding-left: 90px; }
    section.slider h2 img {
      position: relative;
      top: 7px; }
  section.slider ul {
    list-style-image: url("/assets/img/circle.png");
    position: relative;
    padding-left: 90px;
    left: 22px;
    top: 20px; }
    section.slider ul li {
      color: #1b5bbb;
      font-family: "RobotoRegular";
      font-size: 18px;
      padding-left: 5px;
      padding-top: 5px;
      position: relative; }

section.consultation {
  background: #fff;
  width: 700px;
  height: 190px;
  margin: auto;
  margin-top: -204px;
  border-radius: 2px;
  position: relative; }
  section.consultation div.wrapper {
    width: 700px;
    height: 190px; }
    section.consultation div.wrapper form {
      flex-direction: column;
      margin: auto; }
      section.consultation div.wrapper form h2, section.consultation div.wrapper form p {
        text-align: center;
        font-family: "GothamProBold"; }
      section.consultation div.wrapper form h2 {
        font-size: 28px; }
      section.consultation div.wrapper form p {
        font-size: 14px; }
      section.consultation div.wrapper form div.flex {
        width: 580px;
        margin: auto;
        padding: 20px 0; }
      section.consultation div.wrapper form input {
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #999;
        border-radius: 10px;
        margin: auto;
        width: 160px;
        padding: 10px; }
      section.consultation div.wrapper form input[type="submit"] {
        background: #01a8ec;
        border-radius: 21px;
        box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3), inset 0 -5px 0 rgba(3, 128, 179, 0.78);
        font-size: 16px;
        font-weight: 400;
        padding: 10px 16px 12px 16px;
        color: #fff;
        font-family: "GothamProRegular";
        width: 220px; }

section.counter {
  background: url("/assets/img/counter-bg.png") no-repeat;
  height: 450px;
  background-position: 50% 100%;
  margin-top: -78px; }
  section.counter div.wrapper {
    margin: auto; }
    section.counter div.wrapper div.block {
      margin: auto;
      flex-direction: column; }
      section.counter div.wrapper div.block div {
        height: 150px; }
        section.counter div.wrapper div.block div img {
          margin: auto; }
      section.counter div.wrapper div.block div.description {
        width: 65%;
        margin: auto;
        height: 100%; }
        section.counter div.wrapper div.block div.description p {
          font-family: "GothamProBold";
          font-size: 18px;
          text-align: center; }

section.introduction {
  padding-bottom: 70px; }
  section.introduction h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px; }
  section.introduction div.block {
    width: 319px;
    height: 198px;
    margin: 1px;
    color: #157fd9;
    text-align: center;
    padding-top: 20px;
    padding-left: 100px; }
    section.introduction div.block h2 {
      font-size: 24px;
      padding: 30px 0; }
    section.introduction div.block span {
      opacity: 0; }
  section.introduction div.i-1 {
    width: 640px;
    background: url("/assets/img/introduction-1.png") no-repeat; }
    section.introduction div.i-1 div.item {
      margin: 25px 94px 0px auto; }
  section.introduction div.i-2 {
    background: url("/assets/img/introduction-2.png") no-repeat; }
  section.introduction div.i-3 {
    background: url("/assets/img/introduction-3.png") no-repeat; }
  section.introduction div.i-4 {
    background: url("/assets/img/introduction-4.png") no-repeat; }
  section.introduction div.i-5 {
    background: url("/assets/img/introduction-5.png") no-repeat; }

section.guarantee {
  background: url("/assets/img/guarantee-bg.png") no-repeat;
  height: 420px;
  background-position: 50% 50%; }
  section.guarantee h1 {
    color: #fff;
    text-align: center;
    padding: 30px 0; }
  section.guarantee div.block {
    width: 33%; }
    section.guarantee div.block div.img {
      height: 150px; }
      section.guarantee div.block div.img img {
        margin: auto; }
    section.guarantee div.block p {
      color: #fff;
      font-size: 18px;
      font-family: "GothamProBold";
      line-height: 1.5; }

section.accompaniment {
  background: #e6e6e6;
  padding-top: 100px;
  padding-bottom: 30px; }
  section.accompaniment h1, section.accompaniment p {
    text-align: center;
    font-family: "GothamProBold"; }
  section.accompaniment p {
    font-size: 24px;
    padding-bottom: 20px; }
  section.accompaniment .row {
    flex-wrap: wrap;
    justify-content: space-around; }
    section.accompaniment .row .block {
      background: #fff;
      width: 220px;
      margin: 10px auto;
      padding: 10px 5px; }
      section.accompaniment .row .block .img {
        height: 100px; }
        section.accompaniment .row .block .img img {
          margin: auto; }
      section.accompaniment .row .block h3, section.accompaniment .row .block p {
        font-size: 16px;
        text-align: center; }
      section.accompaniment .row .block h3 {
        font-family: "GothamProBold";
        margin-bottom: 5px; }
      section.accompaniment .row .block p {
        font-family: "RobotoRegular";
        line-height: 1.2; }

section.rates {
  background: #e6e6e6; }
  section.rates h1 {
    text-align: center;
    padding: 70px 0;
    font-size: 36px; }
  section.rates .white-block {
    background: #fff;
    width: 960px;
    height: 270px;
    box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3);
    border-radius: 2px; }
    section.rates .white-block table {
      width: 940px;
      margin: auto; }
      section.rates .white-block table tr th {
        height: 45px;
        text-align: center;
        vertical-align: middle;
        font-family: "GothamProBold"; }
      section.rates .white-block table tr th.blue {
        color: #1b5bbb; }
      section.rates .white-block table tr th {
        border-bottom: 2px solid #ccccc2; }
      section.rates .white-block table tr th:nth-child(2n), section.rates .white-block table tr th:nth-child(3) {
        border-left: 2px solid #cccccc; }
      section.rates .white-block table tr:first-child {
        background: #fff; }
      section.rates .white-block table tr:nth-child(2n) {
        background: #ededed; }
      section.rates .white-block table tr:nth-child(3) {
        background: #f2f2f2; }
  section.rates .question {
    padding: 50px 0; }
    section.rates .question div {
      margin: auto; }
      section.rates .question div h3, section.rates .question div p {
        font-family: "GothamProBold"; }
    section.rates .question a.order {
      margin: auto; }

section.why-us {
  background: url("/assets/img/why-us-bg.png") no-repeat;
  height: 693px;
  background-position: 50% 0%; }
  section.why-us h1 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding: 50px; }
  section.why-us .row {
    flex-wrap: wrap; }
    section.why-us .row .block {
      width: 33%; }
      section.why-us .row .block .img {
        height: 100px; }
        section.why-us .row .block .img img {
          margin: auto 0; }
      section.why-us .row .block h4, section.why-us .row .block p {
        font-size: 16px;
        color: #fff;
        width: 85%; }
      section.why-us .row .block h4 {
        padding: 5px 0;
        font-family: "GothamProBold"; }
      section.why-us .row .block p {
        font-family: "GothamProRegular";
        padding-bottom: 50px; }

section.free-consultation {
  height: 440px;
  background: url("/assets/img/free-consultation-bg.png") no-repeat;
  background-position: 50% 0%; }
  section.free-consultation .wrapper {
    height: 440px;
    flex-direction: column; }
    section.free-consultation .wrapper h1 {
      margin: 100px 0 auto auto;
      width: 50%;
      text-align: right;
      font-size: 40px; }
    section.free-consultation .wrapper p {
      margin: -120px 0 auto auto;
      text-align: right;
      font-size: 16px;
      font-family: "GothamProRegular";
      width: 50%; }
  section.free-consultation form {
    background: rgba(41, 111, 184, 0.9);
    height: 110px;
    margin-top: -110px;
    background-position: 50% 0%; }
    section.free-consultation form .wrapper {
      height: 110px; }
      section.free-consultation form .wrapper div.flex {
        width: 700px;
        margin: auto; }
        section.free-consultation form .wrapper div.flex input[type="text"] {
          border: 1px solid white;
          border-radius: 2px;
          background: transparent;
          padding: 10px;
          margin: auto;
          width: 220px; }
        section.free-consultation form .wrapper div.flex input[type="submit"] {
          background: #01a8ec;
          border: 0;
          border-radius: 21px;
          box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3), inset 0 -5px 0 rgba(3, 128, 179, 0.78);
          font-size: 16px;
          font-weight: 400;
          padding: 10px 16px 12px 16px;
          color: #fff;
          font-family: "GothamProRegular";
          width: 220px; }
        section.free-consultation form .wrapper div.flex span {
          display: block;
          color: #fff;
          font-size: 10px;
          padding-left: 12px;
          padding-top: 5px;
          font-family: "RobotoRegular"; }
        section.free-consultation form .wrapper div.flex div {
          margin: auto; }

section.how-working {
  background: url("/assets/img/how-work-bg.png") no-repeat;
  height: 850px;
  background-position: 50%; }
  section.how-working .wrapper {
    height: 850px;
    position: relative; }
  section.how-working h1 {
    margin: auto; }
  section.how-working span {
    position: absolute;
    font-family: "GothamProRegular";
    font-size: 14px;
    text-align: center; }
  section.how-working span.first {
    top: 270px;
    left: 112px; }
  section.how-working span.second {
    top: 150px;
    left: 225px; }
  section.how-working span.third {
    top: 97px;
    left: 427px; }
  section.how-working span.fourth {
    top: 149px;
    left: 631px; }
  section.how-working span.fifth {
    top: 265px;
    left: 778px; }
  section.how-working span.sixth {
    top: 415px;
    left: 833px; }
  section.how-working span.seventh {
    top: 555px;
    left: 777px; }
  section.how-working span.eigth {
    top: 660px;
    left: 632px; }
  section.how-working span.ninth {
    top: 705px;
    left: 429px; }
  section.how-working span.tenth {
    top: 655px;
    left: 233px; }
  section.how-working span.eleventh {
    top: 558px;
    left: 87px; }

section.choose {
  background: url("/assets/img/choose-bg.png");
  height: 300px; }
  section.choose h1 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding: 70px 0; }
  section.choose span {
    font-family: "GothamProRegular"; }
  section.choose .white-circle {
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: 50%;
    margin-left: 70px; }
    section.choose .white-circle span:first-child {
      font-family: "RobotoRegular";
      padding-top: 23px; }
    section.choose .white-circle span {
      font-family: "RobotoBold";
      display: block;
      text-align: center;
      font-size: 18px;
      color: #01a8ec; }
    section.choose .white-circle span:last-child {
      font-size: 32px; }
  section.choose p {
    color: #fff;
    font-family: "RobotoBold";
    font-size: 24px;
    padding-top: 22px;
    padding-left: 20px; }

section.portfolio {
  background: #e6e6e6;
  height: 950px; }
  section.portfolio h1 {
    text-align: center;
    padding: 60px 0 30px 0; }
  section.portfolio p.desc {
    font-family: "RobotoRegular";
    font-size: 15px;
    width: 780px;
    margin: auto;
    line-height: 1.2; }
  section.portfolio div.tab {
    margin: 10px auto;
    background: #01a8ec;
    border-radius: 21px;
    box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3), inset 0 -5px 0 rgba(3, 128, 179, 0.78);
    font-size: 16px;
    font-weight: 400;
    padding: 14px 16px 18px 16px;
    color: #fff;
    font-family: "GothamProRegular";
    justify-content: space-between;
    width: 700px; }
    section.portfolio div.tab span {
      font-size: 12px;
      font-family: "RobotoRegular"; }
    section.portfolio div.tab span:nth-child(2) {
      position: relative;
      right: 50px; }
    section.portfolio div.tab span:nth-child(3) {
      position: relative;
      right: 50px; }
  section.portfolio div.white-block {
    background: #fff;
    width: 940px;
    height: 550px;
    border-radius: 2px;
    box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3); }
    section.portfolio div.white-block .block {
      flex-direction: column;
      width: 33%; }
      section.portfolio div.white-block .block img {
        margin: auto;
        width: 210px;
        height: 65px; }
      section.portfolio div.white-block .block div {
        margin: auto;
        flex-direction: column; }
        section.portfolio div.white-block .block div p {
          font-family: "RobotoMedium";
          font-size: 16px;
          text-align: center;
          padding: 5px; }
        section.portfolio div.white-block .block div a {
          margin: auto;
          color: #8c681f;
          padding: 5px; }
        section.portfolio div.white-block .block div p.glav-byx {
          color: #666666; }
      section.portfolio div.white-block .block div.video img {
        width: 220px;
        height: 140px; }
      section.portfolio div.white-block .block h3 {
        font-family: "GothamProBold";
        font-size: 20px;
        padding: 30px 0; }
      section.portfolio div.white-block .block ul li {
        font-family: "RobotoRegular";
        font-size: 16px;
        padding: 7px 0;
        width: 90%; }
    section.portfolio div.white-block .minus li {
      list-style-image: url("/assets/img/minus.png"); }
    section.portfolio div.white-block .plus li {
      list-style-image: url("/assets/img/plus.png"); }
  section.portfolio footer {
    padding-top: 30px;
    justify-content: space-between;
    width: 940px; }
    section.portfolio footer a {
      margin: auto 0; }
