@import "bourbon";
@import "neat";
$blue: #1b5bbb
$light-blue: #01a8ec

body
.wrapper
	width: 960px
	margin: 0 auto
.flex
	display: flex
.order
	background: $light-blue
	border-radius: 21px
	box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3), inset 0 -5px 0 rgba(3, 128, 179, 0.78)
	font-size: 16px
	font-weight: 400
	padding: 14px 16px 16px 16px
	color: #fff
	font-family: "GothamProRegular"
h1
	font-size: 50px
	font-family: "GothamProBold"

h2
	font-size: 36px

header
	nav
		background: $blue
		height: 50px
		ul
			height: 50px
			justify-content: space-between
			li
				margin: auto 0
				a
					color: #fff
					font-family: "RobotoRegular"
					font-size: 16px
					&:active, &:hover, &:focus
						color: #fff
	div.header
		background: url('/assets/img/header-bg.png')
		height: 136px
		background-position: 50% 100%
		div.wrapper
			height: 136px
			div.logo
				margin: auto auto auto 0
				p
					font-family: "RobotoRegular"
					font-size: 16px
					text-transform: uppercase
					color: $light-blue
					margin: 0
			div.contact
				margin: auto 0 auto 240px
				span
					font-family: "RobotoRegular"
					color: $light-blue
					display: block
				span.phone 
					font-size: 30px
					text-align: right
				span.email
					font-size: 16px
					text-align: right
			div.block-order
				margin: auto 0 auto auto
section.slider
	background: url('/assets/img/slider-bg.png') no-repeat
	height: 600px
	margin-top: -45px
	background-position: 46% 0%
	position: relative
	h2
		color: $blue
		padding-top: 100px
		padding-left: 90px
		img
			position: relative
			top: 7px
	ul
		list-style-image: url('/assets/img/circle.png')
		position: relative
		padding-left: 90px
		left: 22px
		top: 20px
		li
			color: $blue
			font-family: "RobotoRegular"
			font-size: 18px
			padding-left: 5px
			padding-top: 5px
			position: relative
section.consultation
	background: #fff
	width: 700px
	height: 190px
	margin: auto
	margin-top: -204px
	border-radius: 2px
	position: relative
	div.wrapper
		width: 700px
		height: 190px
		form
			flex-direction: column
			margin: auto
			h2, p
				text-align: center
				font-family: "GothamProBold"
			h2
				font-size: 28px
			p
				font-size: 14px
			div.flex
				width: 580px
				margin: auto
				padding: 20px 0
			input
				background-color: rgba(255, 255, 255, 0.5)
				border: 1px solid #999
				border-radius: 10px
				margin: auto
				width: 160px
				padding: 10px
			input[type="submit"]
				background: $light-blue
				border-radius: 21px
				box-shadow: 0 10px 22.6px 1.4px rgba(0, 0, 0, 0.3), inset 0 -5px 0 rgba(3, 128, 179, 0.78)
				font-size: 16px
				font-weight: 400
				padding: 10px 16px 12px 16px
				color: #fff
				font-family: "GothamProRegular"
				width: 220px
section.counter
	background: url('/assets/img/counter-bg.png') no-repeat
	height: 450px
	background-position: 50% 100%
	margin-top: -78px
	div.wrapper
		margin: auto
		div.block
			margin: auto
			flex-direction: column
			div
				height: 150px
				img
					margin: auto
			div.description
				width: 65%
				margin: auto
				height: 100%
				p
					font-family: "GothamProBold"
					font-size: 18px
					text-align: center
section.introduction
	padding-bottom: 70px
	h1 
		text-align: center
		padding-top: 60px
		padding-bottom: 20px
	div.block
		width: 319px
		height: 198px
		margin: 1px
		color: #157fd9
		text-align: center
		padding-top: 20px
		padding-left: 100px
		h2
			font-size: 24px
			padding: 30px 0
		span
			opacity: 0 
	div.i-1
		width: 640px
		background: url('/assets/img/introduction-1.png') no-repeat
		div.item
			margin: 25px 94px 0px auto
	div.i-2
		background: url('/assets/img/introduction-2.png') no-repeat
	div.i-3
		background: url('/assets/img/introduction-3.png') no-repeat
	div.i-4
		background: url('/assets/img/introduction-4.png') no-repeat
	div.i-5
		background: url('/assets/img/introduction-5.png') no-repeat
section.guarantee
		background: url('/assets/img/guarantee-bg.png') no-repeat
		height: 420px
		background-position: 50% 50%
		h1
			color: #fff
			text-align: center
			padding: 30px 0
		div.block
			width: 33% 
			div.img
				height: 150px
				img
					margin: auto
			p
				color: #fff
				font-size: 18px
				font-family: "GothamProBold"
				line-height: 1.5
section.accompaniment
	background: #e6e6e6
	padding-top: 100px
	padding-bottom: 30px
	h1, p
		text-align: center
		font-family: "GothamProBold"
	p
		font-size: 24px
		padding-bottom: 20px
	.row
		flex-wrap: wrap
		justify-content: space-around
		.block
			background: #fff
			width: 220px
			margin: 10px auto
			padding: 10px 5px
			.img
				height: 100px
				img
					margin: auto
			h3, p
				font-size: 16px
				text-align: center
			h3
				font-family: "GothamProBold"
				margin-bottom: 5px
			p 
				font-family: "RobotoRegular"
				line-height: 1.2



