doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title 1s
		link(rel="stylesheet", href="assets/css/reset.css")
		link(rel="stylesheet", href="assets/css/styles.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	body
		header
			nav
			.header
				.logo
					img
			.contact
				span.phone 8 800 250 73-88
				spna.email admin@yandex.ru
			a.order Заказать звонок
		section.slider
			h1 Профессиональное внедрение и сопровождение
			ul
				li От 1 пользователя до крупного предприятия
				li Закрепленный специалист
				li Бесплатные консультации
				li Поддержка 24/7
		section.consultation
			form
				h2 Заполните заявку
				p и получите экспресс-аудит Вашей задачи с 3 вариантами решения
				.flex
					input(type="text")
					input(type="text")
					input(type="button")
		section.conter
			.block
				img(src="", alt="")
				p Опыт работы с 1С 15 лет
			.block
				img(src="", alt="")
				p Лидеры по Самарской области в 1С
			.block
				img(src="", alt="")
				p Более 300 благодарных клиентов
			.block
				img(src="", alt="")
				p Гарантия выполнения работ в срок
		section.introduction
			h1 Внедрям 1С
			.flex
				.block
					h2 Производство
					a.order Подробнее
				.block
					h2 Малое предприятие
					a.order Подробнее
			.flex
				.block
					h2 Бухгалтерия
					a.order Подробнее
				.block
					h2 Торговля
					a.order Подробнее
				.block
					h2 Отраслевые решения
					a.order Подробнее
		section.guarantee
			h1 Мы гарантируем
			.flex
				.block
					img
					p Гарантия выполнения работ в срок
				.block
					img
					p 1 год бесплатного сервисного обслуживания
				.block
					img
					p 3 месяца бесплатного сопровождения при покупке нового продукта
		section.accompaniment
			.flex
				.block
					img
					h3 Долгое ожидание
					p Службы поддержки. В отчетный периодкаждая секунда на счет!
				.block
					img
					h3 Парализована работа
					p на несколько часов из-за формирования отчета или проведения обмена с другими базами.
				.block
					img
					h3 Не защищенный компьютер
					p на котором стояла база1С: сломался / заразили вирусы / изъяли / украли
				.block
					img
					h3 Уволенный/обиженный сотрудник
					p скопировал базу
				.block
					img
					h3 Низкая скорость обмена данных
					p При работе одного склада на несколько магазинов, в результате задержки при обменах между базами, на один товар оформляется несколько заказов
				.block
					img
					h3 Перекладывание ответственности
					p При возникновении проблем в работе базы программисты говорят, что дело в сервере, администраторы говорят,что дело в 1С. Вопрос не решается.
				.block
					img
					h3 Ограниченный функционал
					p 
				.block
					img
					h3
					p 
				
				


		script(type="text/babel" src="assets/js/main.js")
