doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title 1s
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/reset.css")
		link(rel="stylesheet", href="assets/css/styles.css")
		link(rel="stylesheet", href="assets/css/font.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	body
		header
			nav
				.wrapper
					ul.flex
						li
							a(href="#") Главная
						li
							a(href="#") Услуги
						li
							a(href="#") Гарантии
						li
							a(href="#") Схема работы
						li
							a(href="#") Отзывы
						li 
							a(href="#") О компании
						li
							a(href="#") Сертификаты 
						li
							a(href="#") FAQ
						li
							a(href="#") Контакты
			.header
				.wrapper.flex
					.logo
						img(src="assets/img/logo.png", alt="Logo")
						p совершенство вашего бизнеса
					.contact
						span.phone 8 800 250 73-88
						span.email info@vivat-iq.ru
					div.block-order
						a(href="#").order Заказать звонок
		section.slider
			.wrapper
				h2 Профессиональное<br> внедрение и сопровождение<br><img src="assets/img/1s.png"> Предприятие
				ul
					li От 1 пользователя до крупного предприятия
					li Закрепленный специалист
					li Бесплатные консультации
					li Поддержка 24/7
		section.consultation
			.wrapper.flex
				form.flex
					h2 Заполните заявку
					p и получите экспресс-аудит Вашей задачи с 3 вариантами решения
					.flex
						input(type="text" placeholder="Имя")
						input(type="text" placeholder="Email")
						input(type="submit" value="Заказать консультацию")
		section.counter.flex
			.wrapper.flex
				.block.flex
					.flex
						img(src="assets/img/experience.png", alt="Картинка с портфелем")
					.description
						p Опыт работы с 1С 15 лет
				.block.flex
					.flex
						img(src="assets/img/leaders.png", alt="Герб")
					.description
						p Лидеры по Самарской области в 1С
				.block.flex
					.flex
						img(src="assets/img/client.png", alt="Картинка с клиентами")
					.description
						p Более 300 благодарных клиентов
				.block.flex
					.flex
						img(src="assets/img/hands.png", alt="Рукопажатие")
					.description
						p Гарантия выполнения работ в срок
		section.introduction
			.wrapper
				h1 Внедрям 1С
				.flex
					.block.i-1.flex
						div.item
							h2 Производство
							div
								a.order Подробнее
					.block.i-2
						h2 Малое<br>предприятие
						a.order Подробнее
				.flex
					.block.i-3
						h2 Бухгалтерия<br><span>пустышка</span>
						a.order Подробнее
					.block.i-4
						h2 Торговля<br><span>пустышка</span>
						a.order Подробнее
					.block.i-5
						h2 Отраслевые<br> решения
						a.order Подробнее
		section.guarantee
			.wrapper
				h1 Мы гарантируем
				.flex
					.block
						.img.flex
							img(src="assets/img/guarantee-1.png", alt="")
						p Гарантия выполнения<br> работ в срок
					.block
						.img.flex
							img(src="assets/img/guarantee-2.png", alt="")
						p 1 год бесплатного<br> сервисного обслуживания
					.block
						.img.flex
							img(src="assets/img/guarantee-3.png", alt="")
						p 3 месяца бесплатного<br> сопровождения при покупке<br> нового продукта
		section.accompaniment
			.wrapper
				h1 Сопровождение 1С с интеллектом
				p Мы решаем такие проблемы, как:
				.row.flex
					.block
						.img.flex
							img(src="assets/img/accompaniment-1.png", alt="")
						h3 Долгое ожидание
						p Службы поддержки. В отчетный периодкаждая секунда на счет!
					.block
						.img.flex
							img(src="assets/img/accompaniment-2.png", alt="")
						h3 Парализована работа
						p на несколько часов из-за формирования отчета или проведения обмена с другими базами.
					.block
						.img.flex
							img(src="assets/img/accompaniment-3.png", alt="")
						h3 Не защищенный компьютер
						p на котором стояла база1С: сломался / заразили вирусы / изъяли / украли
					.block
						.img.flex
							img(src="assets/img/accompaniment-4.png", alt="")
						h3 Уволенный/обиженный сотрудник
						p скопировал базу
					.block
						.img.flex
							img(src="assets/img/accompaniment-5.png", alt="")
						h3 Низкая скорость обмена данных
						p При работе одного склада на несколько магазинов, в результате задержки при обменах между базами, на один товар оформляется несколько заказов
					.block
						.img.flex
							img(src="assets/img/accompaniment-6.png", alt="")
						h3 Перекладывание ответственности
						p При возникновении проблем в работе базы программисты говорят, что дело в сервере, администраторы говорят,что дело в 1С. Вопрос не решается.
					.block
						.img.flex
							img(src="assets/img/accompaniment-7.png", alt="")
						h3 Ограниченный функционал
						p Чтобы выставить счет и/или отправить закрывающие документы приходится терять время на поездку в офис или ожидание понедельника.
					.block
						.img.flex
							img(src="assets/img/accompaniment-8.png", alt="")
						h3 Устаревшая база
						p Компании требуется обновление программ и дополнительный функционал под потребности бизнеса.
		section.specialist
			.wrapper.flex
				h1 Выберите специалиста для своего бизнеса!
				#carousel.carousel.slide.carousel-fade.carousel-team(data-ride='carousel')
					.carousel-inner
						.active.item
							.block.flex.block-first
								.block-item
									h2 Алексей, 1С программист
									p Опыт работы: 
										span 1.5 года
									p Обзарование:<br>
										span Высшее (Бакалавр – Инженер автоматизации).
									p Средняя продолжительность ведения проектов:<br>
										span 3 месяца
									p Специализация:<br>
										span Управление торговлей (доработка конфигураций, написание программного кода).
									p О себе:<br> 
										span Внимательный, пунктуальный, ответственный, всегда довожу начатое до конца, ценю время как свое так и клиента.
									div.image
										img(src="", alt="")
										img(src="", alt="")
										img(src="", alt="")
								.block-item.photo.flex
									img(src="assets/img/photo-big-3.png", alt="")
									div.flex
										a(href="#").order Хочу себе этого специалиста
						.item
							.block.flex.block-second
								.block-item
									h2 Алексей, 1С программист
									p Опыт работы: 
										span 1.5 года
									p Обзарование:<br>
										span Высшее (Бакалавр – Инженер автоматизации).
									p Средняя продолжительность ведения проектов:<br>
										span 3 месяца
									p Специализация:<br>
										span Управление торговлей (доработка конфигураций, написание программного кода).
									p О себе:<br> 
										span Внимательный, пунктуальный, ответственный, всегда довожу начатое до конца, ценю время как свое так и клиента.
									div.image
										img(src="", alt="")
										img(src="", alt="")
										img(src="", alt="")
								.block-item.photo.flex
									img(src="assets/img/photo-big-3.png", alt="")
									div.flex
										a(href="#").order Хочу себе этого специалиста
						.item
							.block.flex.block-third
								.block-item
									h2 Алексей, 1С программист
									p Опыт работы: 
										span 1.5 года
									p Обзарование:<br>
										span Высшее (Бакалавр – Инженер автоматизации).
									p Средняя продолжительность ведения проектов:<br>
										span 3 месяца
									p Специализация:<br>
										span Управление торговлей (доработка конфигураций, написание программного кода).
									p О себе:<br> 
										span Внимательный, пунктуальный, ответственный, всегда довожу начатое до конца, ценю время как свое так и клиента.
									div.image
										img(src="", alt="")
										img(src="", alt="")
										img(src="", alt="")
								.block-item.photo.flex
									img(src="assets/img/photo-big-3.png", alt="")
									div.flex
										a(href="#").order Хочу себе этого специалиста
						.item
							.block.flex.block-fourth
								.block-item
									h2 Алексей, 1С программист
									p Опыт работы: 
										span 1.5 года
									p Обзарование:<br>
										span Высшее (Бакалавр – Инженер автоматизации).
									p Средняя продолжительность ведения проектов:<br>
										span 3 месяца
									p Специализация:<br>
										span Управление торговлей (доработка конфигураций, написание программного кода).
									p О себе:<br> 
										span Внимательный, пунктуальный, ответственный, всегда довожу начатое до конца, ценю время как свое так и клиента.
									div.image
										img(src="", alt="")
										img(src="", alt="")
										img(src="", alt="")
								.block-item.photo.flex
									img(src="assets/img/photo-big-3.png", alt="")
									div.flex
										a(href="#").order Хочу себе этого специалиста
						.item
							.block.flex.block-fifth
								.block-item
									h2 Алексей, 1С программист
									p Опыт работы: 
										span 1.5 года
									p Обзарование:<br>
										span Высшее (Бакалавр – Инженер автоматизации).
									p Средняя продолжительность ведения проектов:<br>
										span 3 месяца
									p Специализация:<br>
										span Управление торговлей (доработка конфигураций, написание программного кода).
									p О себе:<br> 
										span Внимательный, пунктуальный, ответственный, всегда довожу начатое до конца, ценю время как свое так и клиента.
									div.image
										img(src="", alt="")
										img(src="", alt="")
										img(src="", alt="")
								.block-item.photo.flex
									img(src="assets/img/photo-big-3.png", alt="")
									div.flex
										a(href="#").order Хочу себе этого специалиста
						.item
							.block.flex.block-sixth
								.block-item
									h2 Алексей, 1С программист
									p Опыт работы: 
										span 1.5 года
									p Обзарование:<br>
										span Высшее (Бакалавр – Инженер автоматизации).
									p Средняя продолжительность ведения проектов:<br>
										span 3 месяца
									p Специализация:<br>
										span Управление торговлей (доработка конфигураций, написание программного кода).
									p О себе:<br> 
										span Внимательный, пунктуальный, ответственный, всегда довожу начатое до конца, ценю время как свое так и клиента.
									div.image
										img(src="", alt="")
										img(src="", alt="")
										img(src="", alt="")
								.block-item.photo.flex
									img(src="assets/img/photo-big-3.png", alt="")
									div.flex
										a(href="#").order Хочу себе этого специалиста
						.item
							.block.flex.block-seventh
								.block-item
									h2 Алексей, 1С программист
									p Опыт работы: 
										span 1.5 года
									p Обзарование:<br>
										span Высшее (Бакалавр – Инженер автоматизации).
									p Средняя продолжительность ведения проектов:<br>
										span 3 месяца
									p Специализация:<br>
										span Управление торговлей (доработка конфигураций, написание программного кода).
									p О себе:<br> 
										span Внимательный, пунктуальный, ответственный, всегда довожу начатое до конца, ценю время как свое так и клиента.
									div.image
										img(src="", alt="")
										img(src="", alt="")
										img(src="", alt="")
								.block-item.photo.flex
									img(src="assets/img/photo-big-3.png", alt="")
									div.flex
										a(href="#").order Хочу себе этого специалиста
					ul.flex
						li
							a(href="#" data-target="#carousel" data-slide-to="0")
								img(src="assets/img/photo-1.png", alt="")
						li
							a(href="#" data-target="#carousel" data-slide-to="1")
								img(src="assets/img/photo-2.png", alt="")
						li
							a(href="#" data-target="#carousel" data-slide-to="2")
								img(src="assets/img/photo-3.png", alt="")
						li
							a(href="#" data-target="#carousel" data-slide-to="3")
								img(src="assets/img/photo-4.png", alt="")
						li
							a(href="#" data-target="#carousel" data-slide-to="4")
								img(src="assets/img/photo-5.png", alt="")
						li
							a(href="#" data-target="#carousel" data-slide-to="5")
								img(src="assets/img/photo-6.png", alt="")
						li
							a(href="#" data-target="#carousel" data-slide-to="6")
								img(src="assets/img/photo-7.png", alt="")
						li
							a(href="#")
									img(src="assets/img/photo-8.png", alt="")
		section.rates
			.wrapper
				h1 Большой выбор тарифов сопровождениедля каждого пользователя
				.white-block.flex
					table
						tr
							th Срок
							th.blue Стандартный
							th.blue Оптимальный
							th.blue Ультра
						tr
							th.blue Год
							th 3 872
							th 7 672
							th 9 672
						tr
							th.blue Полугодие
							th 3 983
							th 7 783
							th 9 783
						tr
							th.blue Квартал
							th 4 077
							th 7 877
							th 9 877
				.question.flex
					div
						h3 Незнаете какой выбрать тариф?
						p Получите бесплатную консультацию — заполните заявку и мы перезвоним вам!
					a.order Оставить заявку
		section.why-us
			.wrapper
				h1 Почему клиенты выбирают<br> нас в течении 15 лет?
				.row.flex
					.block
						.img.flex
							img(src="assets/img/why-us-1.png", alt="")
						h4 Понимаем Вас с полуслова
						p Богатый опыт работы с 1С позволяет нам предугадывать ваши задачи и решать их быстрее и эффективнее
					.block
						.img.flex
							img(src="assets/img/why-us-2.png", alt="")
						h4 Работа на результат
						p С нами «сырая программа» станет незаменимым инструментом в Вашей работе!
					.block
						.img.flex
							img(src="assets/img/why-us-3.png", alt="")
						h4 Гарантия конфиденциальности данных
						p Сохранность данных под надежной защитой
					.block
						.img.flex
							img(src="assets/img/why-us-4.png", alt="")
						h4 Всегда с Вами на связи
						p 24/7 мы с вами на связи, оперативно решаем возникающие вопросы
					.block
						.img.flex
							img(src="assets/img/why-us-5.png", alt="")
						h4 1С на переделе возможностей
						p Поможем освоить 100% функционал программ 1С
					.block
						.img.flex
							img(src="assets/img/why-us-6.png", alt="")
						h4 Защита от налоговых рисков
						p Управление налоговыми рисками и комплексная оценка благонадежности контрагентов
		section.free-consultation
			.wrapper.flex
				h1 Бесплатная консультация
				p Не знаете что выбрать? Спросите Светлану — она с радостью вам поможет подобрать 1С под ваши нужды. Оставьте здесь свои контакты, и ждите звонка.
			form
				.wrapper.flex
					div.flex
						input(type="text" placeholder="Имя")
						input(type="text" placeholder="Email")
						div
							input(type="submit" value="Заказать консультацию")
							span * гарантия конфиденциальности данных
		section.how-working
			.wrapper.flex
				h1 Как мы работаем
				span.first Звонок
				span.second Обсуждаем<br>сотрудничество
				span.third Проводим<br>обследование<br>бизнес<br>процессов
				span.fourth Фиксируем<br>сроки тех.<br>задание
				span.fifth Заключаем<br>договор
				span.sixth Получаем<br>аванс
				span.seventh Выполняем<br>работы<br>согласно<br>договора
				span.eigth Обучаем<br>персонал<br>и готовим<br>инструкции
				span.ninth Подписываем<br>акт<br>выполненных<br>работ
				span.tenth Улучшаем<br>продукт<br>исходя<br>из пожеланий<br>клиента
				span.eleventh Составляем<br>кейс по<br>автоматизации
		section.choose
			.wrapper
				h1 <span>Выбирайте</span> надежную компанию
				div.flex
					.white-circle
						span более
						span 62%
					p наших клиентов рекомендовали нас<br> своим друзьям и знакомым, партнерам и клиентам.
		section.portfolio.flex
			.wrapper
				h1 Наши работы
				p.desc За 15 лет работы нами проделана огромная работа! Выполнено свыше 300 проектов по России. Выполняли работы от простых внедрений до автоматизации крупных торговых/производственных предприятий. Наши клиенты высоко оценивают уровень работ и оказываемый сервис.
				.tab.flex 
					span Оптовая и розничная торговля (10)
					span Производство (6)
					span Услуги (2)
				.white-block.flex
					.block.flex
						img(src="assets/img/logo-portfolio.png", alt="")
						div.flex
							p Группа компаний
							p «Промышленная безопасность»
							a(href="#") www.ekoprombez.ru
						div
							p.glav-byx Главный бухгалтер
							p Пирожкова Надежда Петровна
							p +7 8482 68-50-81
						.video
							a(href="#")
								img(src="assets/img/video.png", alt="")
					.block.minus
						h3 Было
						ul
							li Велся учет в 1С:Бухгалтерии
							li Разные виды деятельности велись сотрудниками и информация хранилась только у них
							li Заявки с новыми клиентами оформлялись специальными документами в файлах
							li Комплектование групп для обучения производилось в ручном режиме
							li Задолженность по оперативной деятельности не сходилась с данными в 1С:Бухгалтерии
							li В отдельных филиалах велся учет отдельно и не связанно с центральным офисом
							a(href="#") cмотреть все
					.block.plus
						h3 Стало
						ul
							li Объединен учет всех филиалов в единую систему
							li Все виды деятельности стали работать по настроенным бизнес-процессам на сервере
							li Разработана и внедрена уникальная система оформления всех документов в 1С
							li Внедрена система обучения от заказов до проведения экзаменов и формирования закрывающих документов
							li Настроен единый контроль за дебиторской задолженностью
							a(href="#") cмотреть все
				footer.flex
					a.see(href="#") Показать еще работы
					div
						a(href="#").order Хочу такой же результат
		section.certificate
			.wrapper.flex
				.flex
					h1 Сертифицированный Сервисный партнер фирмы «1С»!
					p Для получения качественного сопровождения в Самарской области фирма «1С» рекомендует обращаться в компанию «Виват Интеллект». Компании, обладающие статусом «Сертифициро-ванный Сервисный партнер (Сервис-партнер) (СП) «1С»», являются ведущими партнерами фирмы «1С» в области информационно-технологи-ческого сопровождения 1C и рекомендуются фирмой «1С» при выборе надежного партнера в регионе.<span>Команда разработки 1С</span>
		section.review
			.wrapper.flex
				.block
					p Создавая свою компанию ВИВАТ ИНТЕЛЛЕКТ в 2008 году, я стремился к формированию круга единомышленников, объединенных одной идеей - разработкой и сопровождением 1С в самых комфортных для специалиста и клиента условиях. 
					p Это позволяет совместно развиваться и получать заряд энергии от победы в результате каждой задачи, эйфории от удовлетворения результатом клиента для следующих побед. Каждая победа должна быть вознаграждена!
		section.our-team
			h1 Наша команда
			#carousel.carousel.slide.carousel-fade(data-ride='carousel')
				.carousel-inner
					.active.item
						img(src="assets/img/slider.png", alt="")
					.item
						img(src="assets/img/slider.png", alt="")
					.item
						img(src="assets/img/slider.png", alt="")
				a.carousel-control.left(href='#carousel', data-slide='prev')
					img(src="assets/img/left-arrow.svg", alt="")
				a.carousel-control.right(href='#carousel', data-slide='next')
					img(src="assets/img/right-arrow.svg", alt="")
		section.faq
			.wrapper
				h1 F.A.Q
				#accordion.panel-group(role='tablist', aria-multiselectable='true')
					#headingOne(role='tab')
						h4.panel-title
							a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
								| Ваши услуги стоят дорого?
					#collapseOne(role='tabpanel', aria-labelledby='headingOne')
						.panel-body
							| Да, наши услуги стоят дороже, чем заказывать у Фрилансера. Но наша ценность заключается в том, что мы закрываем полный спектр задач, которые возникают у клиентов. На оказываемый спектр услуг мы даем гарантию 1 год . <a href="#">Заполните заявку</a> и мы поможем подобрать для вас оптимальное решение.
					#headingThree(role='tab')
						h4.panel-title
							a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
								| Есть готовые решения для моего(нашего) бизнеса?
					#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
						.panel-body
							| 
					#headingFour(role='tab')
						h4.panel-title
							a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
								| Сколько времени займет решение моих задач?
					#collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
						.panel-body
							| 
					#headingFive(role='tab')
						h4.panel-title
							a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
								| Я пользуюсь услугами своего специалиста фрилансера, зачем мне работать с вами?
					#collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
						.panel-body
							| 
					#headingSix(role='tab')
						h4.panel-title
							a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
								| Кому мы не подходим
					#collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
						.panel-body
							| 
		section.contact
			.wrapper
				h2 Контактные информация
				p.ooo ООО «ИНТЭС групп»
				.flex.adress
					p Адрес:      
					p Тольятти, улица Спортивная,<br> д. 6, подъезд 2/2, 5 этаж
				.flex.work
					p Режим работы: 
					p с 9:00 до 18:00
				.flex.phone
					p Телефоны:
					p +7 (8482) 55-73-98
				.flex.email
					p E-mail:     
					p
						a(href="#") info@vivat-iq.ru
		section.question
			.wrapper
				.flex
					div
						h1 Остались<br> вопросы?
						p Оставьте заявку и в течении 15 минут мы ответим на все ваши вопросы
						span.guarantee * гарантия конфиденциальности данных
						img.line(src="assets/img/line.png", alt="")
					form
						input(type="text" placeholder="Имя")
						input(type="text" placeholder="Email")
						input(type="text" placeholder="Телефон")
						button(type="button")
						a.button 
							span обзор
						input(type="file" placeholder="Файл")
						textarea(placeholder="Сообщение")
						input(type="submit" placeholder="Получить")
		footer
			.wrapper.flex
				div.copyright
					p © 2008-2016 ООО «ВИВАТ ИНТЕЛЛЕКТ»
					a(href="#") Скачать реквизиты
				div.email
					p Вопросы и пожелания<br>отправляйте на <a href="#">info@vivat-iq.ru</a>
				div.company
					p Компания разработчик 
					a(href="http://lidkom.ru/") Lidkom.ru
				


		script(type="text/babel" src="assets/js/main.js")
